<ul class="nav navbar-nav">
	<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
	<li><a asp-area="" asp-controller="Styrelse" asp-action="Index">Styrelse</a></li>
	<li><a asp-area="" asp-controller="Home" asp-action="Contact">Sexmästeri</a></li>
	<!--<li><a asp-area="" asp-controller="Home" asp-action="Contact">Valberedningen</a></li>
	<li><a asp-area="" asp-controller="Home" asp-action="Contact">Revisorer</a></li>-->
	<li><a asp-area="" asp-controller="Home" asp-action="Contact">Showcase</a></li>
	<li><a asp-area="" asp-controller="Home" asp-action="Contact">Medlemskap</a></li>	
	<li><a asp-area="" asp-controller="Home" asp-action="Contact">Utbildningarna</a></li>
	<li><a asp-area="" asp-controller="Home" asp-action="Contact">Evenemang</a></li>
	<li><a asp-area="" asp-controller="Medlemmar" asp-action="Index">Medlemsregister</a></li>
</ul>