<ul class="nav navbar-nav">
	<li><a asp-area="" asp-controller="Home" asp-action="Kontakt">Kontakt</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Föreningen <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a asp-area="" asp-controller="Forening" asp-action="Om">Om Föreningen</a></li>
			<li><a asp-area="" asp-controller="Forening" asp-action="Styrelse">Styrelse</a></li>
			<li><a asp-area="" asp-controller="Forening" asp-action="Sexmasteri">Sexmästeri</a></li>
			<!--<li><a asp-controller="Forening" asp-action="Contact">Valberedningen</a></li>
			<li><a asp-controller="Forening" asp-action="Contact">Revisorer</a></li>-->
			<li><a asp-area="" asp-controller="Forening" asp-action="Stadgar">Stadgar</a></li>
		</ul>
	</li>
	<!--<li><a asp-area="" asp-controller="Showcase" asp-action="Index">Showcase</a></li>
	<li><a asp-area="" asp-controller="Medlemskap" asp-action="Index">Medlemskap</a></li>
	<li><a asp-area="" asp-controller="Utbildning" asp-action="Index">Utbildningar</a></li>-->
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Introduktion <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a asp-area="" asp-controller="Introduktion" asp-action="Index">Start</a></li>
			<li><a asp-area="" asp-controller="Introduktion" asp-action="BraAttVeta">Bra att veta</a></li>
			<li><a asp-area="" asp-controller="Introduktion" asp-action="Schema">Schema</a></li>
			<li><a asp-area="" asp-controller="Introduktion" asp-action="Stab">Stab</a></li>
			<li><a asp-area="" asp-controller="Introduktion" asp-action="Faddrar">Faddrar</a></li>
			<li><a asp-area="" asp-controller="Introduktion" asp-action="Kontakt">Kontakt</a></li>
		</ul>
	</li>
</ul>