@model Organization
@{
	ViewData["Title"] = "Föreningen";
}
<div class="col-sm-9">
	<h2>@ViewData["Title"]</h2>
	<hr />
	@if (TempData.ContainsKey("Message"))
	{
		<div class="alert alert-info alert-fixed alert-dismissable" role="alert">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@TempData["Message"]</strong>
		</div>
	}
	<form method="post" asp-action="Index" class="form-horizontal" role="form">
		<div asp-validation-summary="All" class="text-error"></div>
		<input asp-for="Id" type="hidden" />
		<div class="form-group">
			<label asp-for="Name" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input asp-for="Name" class="form-control"/>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Abbreviation" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input asp-for="Abbreviation" class="form-control" />
				<span asp-validation-for="Abbreviation" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Address" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="PostalCode" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input asp-for="PostalCode" class="form-control" />
				<span asp-validation-for="PostalCode" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="City" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input asp-for="City" class="form-control" />
				<span asp-validation-for="City" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Email" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Phone" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="GoogleLink" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input asp-for="GoogleLink" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="FacebookAPIId" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input asp-for="FacebookAPIId" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="FacebookAPIKey" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input asp-for="FacebookAPIKey" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Instagram" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input asp-for="Instagram" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success">
					<i class="fa fa-floppy-o fa-lg"></i>&nbsp; Spara
				</button>
			</div>
		</div>
	</form>
</div>
@section Scripts {
		@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}