@{
	ViewData["Title"] = "Admin";
}
<div class="col-md-9">
	<h2>@ViewData["Title"]</h2>
	<hr />
	@if (TempData.ContainsKey("Message"))
	{
		<div class="alert alert-info alert-fixed alert-dismissable" role="alert">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@TempData["Message"]</strong>
		</div>
	}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>
</div>