@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "SPIIK";
}

<div class="row">
	<div class="col-md-12">
		<h2>@ViewData["Title"]
			<small>Adminpanel</small>
		</h2>
		<hr />
		<!--@Html.BuildBreadcrumbNavigation()-->
		<!--<ol class="breadcrumb">-->
			<!--<li><a asp-controller="Home">Home</a></li>
			<li class="active">Sidebar Page</li>-->
		<!--</ol>-->
	</div>
</div>

	<!-- Sidebar Column -->
	@await Html.PartialAsync("_AdminMenu")


