@model ApplicationUser
@{
	ViewData["Title"] = "Radera login";
}
<div class="col-md-9">
	<h2>@ViewData["Title"]</h2>
	<hr />

	<h3 class="page-header">@Model.Name (@Model.Email) </h3>

	<form method="post" asp-action="Delete" enctype="multipart/form-data" class="form-horizontal col-md-9" role="form">
		@Html.AntiForgeryToken()
		<div class="form-group">
				<a asp-action="Index" class="btn btn-default" role="button">Tillbaka till listan</a>
				<button type="submit" class="btn btn-danger">
					<i class="fa fa-floppy-o fa-lg"></i>&nbsp; Radera
				</button>
		</div>
	</form>
</div>