<!-- Sidebar -->
@{var ctrlr = ViewContext.RouteData.Values["Controller"].ToString().ToLower();}
<div class="list-group col-md-3">
	<a asp-action="Index" asp-controller="Home" class="list-group-item @(ctrlr == "home" ? "active" : "")">Start</a>
	<a asp-action="Index" asp-controller="Users" class="list-group-item @(ctrlr == "users" ? "active" : "")">Hantera användare</a>
	<a asp-action="Index" asp-controller="UnionMember" class="list-group-item @(ctrlr == "unionmember" ? "active" : "")">Hantera föreningsmedlemmar</a>
	<a asp-action="Index" asp-controller="Medlemsregister" class="list-group-item @(ctrlr == "medlemsregister" ? "active" : "")" >Medlemsregister</a>

	<a href="#" class="list-group-item">Menu 3</a>
</div>