@model UnionMemberViewModel
@{
	ViewData["Title"] = "Skapa ny föreningsmedlem";
}
<div class="col-sm-9">
	<h2>@ViewData["Title"]</h2>
	<hr />
	<div class="col-md-push-7 col-md-5">
		<div class="img-preview img-circle img-responsive upload-picture-preview-profile">
			<img src="" alt="">
		</div>
	</div>
	<form method="post" asp-action="Create" enctype="multipart/form-data" class="form-horizontal  col-md-pull-5 col-md-7" role="form">
		<div asp-validation-summary="All" class="text-error"></div>
		<input asp-for="Id" type="hidden" />
		<input asp-for="PictureSrc" type="hidden" />
		<div class="form-group">
			<label asp-for="Name" class="control-label"></label>
			<input asp-for="Name" class="form-control" autofocus/>
		</div>
		<div class="form-group">
			<label asp-for="Title" class="control-label"></label>
			<input asp-for="Title" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Email" class="control-label"></label>
			<input asp-for="Email" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Quote" class="control-label"></label>
			<input asp-for="Quote" class="form-control" />
		</div>
		<div class="form-group row">
			<label asp-for="Picture" class="btn btn btn-default"><i class="fa fa-upload fa-lg"></i>&nbsp; Ladda upp en profilbild</label>
			<input asp-for="Picture" type="file" style="display: none;" class="upload-picture" data-preview="profile">
			<span id="spinner"></span>
		</div>
		<div class="form-group">
			<label asp-for="UnionTypes" class="control-label"></label>
			<br>
			<div class="btn-group" role="group" data-toggle="buttons">
				@foreach (UnionTypeEnum item in Enum.GetValues(typeof(UnionTypeEnum)))
				{
					if(Model?.UnionTypes.HasFlag(item) == true)
					{
						<label class="btn btn-default active">
							<input type="checkbox" name="UnionTypes" value="@item" checked="checked">
							@item
						</label>
					}
					else
					{
						<label class="btn btn-default">
							<input type="checkbox" name="UnionTypes" value="@item">
							@item
						</label>
					}
				}
			</div>
		</div>
		<br>
		<div class="form-group">
				<a asp-action="Index" class="btn btn-default" role="button">Tillbaka till listan</a>
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-floppy-o fa-lg"></i>&nbsp; Spara
				</button>
		</div>
	</form>
</div>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}