@model Stadga

<form method="post" asp-action="index" class="form-horizontal" role="form" id="frmToBeValidated">
	<div asp-validation-summary="All" class="text-error"></div>
	<input type="hidden" asp-for="@Model.Id">
	<div class="form-group">
		<label for="Stadgar_@(Model.Id)__Number" class="col-xs-1 control-label stadga">ยง@Model.Number</label>
		<div class="col-xs-1">
			<input id="Stadgar_@(Model.Id)__Number" name="Stadgar[@(Model.Id)].Number" class="form-control" placeholder="ยง"/>
			<span asp-validation-for="Number" class="text-danger"></span>
		</div>
		<div class="col-xs-10 form-inline">
			<input id="Stadgar_@(Model.Id)__Name" name="Stadgar[@(Model.Id)].Name" class="form-control" placeholder="Rubrik"/>
			<span asp-validation-for="Name" class="text-danger"></span>
			<button type="submit" class="btn btn-success btn-space-left">
				<i class="fa fa-floppy-o fa-lg"></i>&nbsp; Spara
			</button>
			<button type="button" class="btn btn-danger" data-id="@(Model.Id)">
				Radera
			</button>
		</div>
	</div>
	<div class="form-group">
		<label for="Stadgar_@(Model.Id)__Text" class="col-sm-1 control-label"></label>
		<div class="col-sm-11 col-xs-offset-1">
			<textarea id="Stadgar_@(Model.Id)__Text" name="Stadgar[@(Model.Id)].Text" rows="10" cols="100" class="form-control" placeholder="Text" style="resize:none"></textarea>
			<span asp-validation-for="Text" class="text-danger"></span>
		</div>
	</div>
</form>